<!DOCTYPE html>
<html lang="en">
  <%- include("../templates/header.ejs") %>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <%- include("../templates/navbar.ejs")%> <%-
      include("../templates/sidebar.ejs") %>
      <!-- Content Wrapper. Contains page content -->

      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Edit Pelanggan</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item">
                    <a href="/pelanggan">Pelanggan</a>
                  </li>
                  <li class="breadcrumb-item active">Edit</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Form Edit Pelanggan</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form
                    action="/pelanggan/edit/<%= pelanggan._id %>?_method=PUT"
                    method="POST"
                  >
                    <div class="card-body">
                      <div class="form-group">
                        <label for="nama">Nama Pelanggan</label>
                        <input
                          type="text"
                          class="form-control"
                          name="nama"
                          id="nama"
                          placeholder="Masukkan Nama Pelanggan"
                          value="<%= pelanggan.nama %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="alamat">Alamat</label>
                        <input
                          type="text"
                          class="form-control"
                          name="alamat"
                          id="alamat"
                          placeholder="Masukkan alamat"
                          value="<%= pelanggan.alamat %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="noTelepon">Nomor Telepon</label>
                        <input
                          type="text"
                          class="form-control"
                          name="noTelepon"
                          id="noTelepon"
                          placeholder="Masukkan Nomor Telepon"
                          value="<%= pelanggan.noTelepon %>"
                        />
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">
                        Simpan
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <%- include("../templates/footer.ejs") %>
    </div>
    <!-- ../../wrapper -->
    <%- include("../templates/js.ejs") %>
  </body>
</html>
